.custom-btn {
    color: #000000;
    background-color: #ffef3c;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
    padding: 20px 27px;
    cursor: pointer
}

.custom-btn-plus-sign .custom-btn-text {
    padding-left: 25px
}

.custom-btn-plus-sign .custom-btn-text:before {
    content: '\f067';
    display: inline-block;
    font-family: FontAwesome;
    left: 0px;
    line-height: inherit;
    position: absolute;
    top: 1px;
    vertical-align: middle
}

.custom-btn-with-cover-fx .custom-btn-cover {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -2px;
    left: -2px;
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    pointer-events: none
}

.custom-btn-with-cover-fx .custom-btn-cover .custom-btn-cover-text {
    opacity: 0;
    color: #fff;
    transform: translate3d(-20px, 0, 0);
    transition: all 0s .2s;
    margin-top: 2px;
    z-index: 20
}

.custom-btn-with-cover-fx .custom-btn-cover .custom-btn-cover-bgrnd {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 4px);
    width: calc(100% - 4px);
    background-color: #0d0d0d;
    border: 2px solid #0d0d0d;

    transform-origin: 100% 50%;

    transform: scaleX(0);
   
    transition: transform .35s cubic-bezier(.86, 0, .07, 1);
    will-change: transform
}

.custom-btn-with-cover-fx:hover .custom-btn-cover-bgrnd {

    transform-origin: 0 50%;
    transform: scaleX(1);
    transition: transform .5s cubic-bezier(.86, 0, .07, 1)
}

.custom-btn-with-cover-fx:hover .custom-btn-cover-text {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  
    transition: transform .4s cubic-bezier(.28, 1.04, .49, .9) .2s, opacity .6s .15s
}
